:root {
  --background: #ffffff;
  --black: #12121c;
  --prim: #bb63ff;
  --sec: #6263ff;
  --gray: rgba(0, 0, 0, 0.5);
  --hoverBackgroundDark: #70738f;
  --hoverBackground: #edeef7;
  --hoverBackgroundPrim: #bb63ff2f;
  --secTextColor: rgba(0, 0, 0, 0.5);
  --secBorder: 3px solid rgba(0, 0, 0, 0.1);
  --gradient: -webkit-linear-gradient(45deg, var(--sec), var(--prim));
  --borderHoverPrim: 3px solid var(--prim);
  --boxShadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  /* fonts */
  --paragraph: 18px;
  --paragraphL: 22px;
  --h1: 62px;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    /* url("./fonts/PlusJakartaSans-Bold.ttf") format("truetype"),
    url("./fonts/PlusJakartaSans-BoldItalic.ttf") format("truetype"), */ url("./fonts/PlusJakartaSans-ExtraBold.ttf")
    format("truetype") url("./fonts/PlusJakartaSans-ExtraBoldItalic.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  margin: 0;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  display: grid;
  place-content: center;
  min-height: 100vh;
  height: fit-content;
  align-items: center;
  justify-items: center;
}
.container img {
  width: 100%;
  z-index: 2000;
}
section {
  margin: 8vh 0;
  display: grid;
  grid-template-columns: auto;
  gap: 56px;
  justify-items: center;
}
/* main fonts */
h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: var(--h1);
  color: var(--black);
  font-weight: 800;
  margin: 0;
}
h1 span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
  color: var(--black);
}
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 26px;
  margin: 0;
  color: var(--black);
  line-height: 1.3;
}
h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}
p,
a {
  font-family: "Inter", sans-serif;
  font-size: var(--paragraph);
  color: var(--gray);
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  text-decoration: none;
}

.paragraphL {
  font-size: var(--paragraphL);
}

/* nav */
.nav-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 8vw;
  color: var(--black);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  z-index: 8000;
}
.nav-contain ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 28px;
}
.nav-contain li {
  padding: 12px 20px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
}
.nav-contain a {
  font-family: "Inter", sans-serif;
  color: inherit;
  font-size: var(--paragraphL);
  text-decoration: none;
  font-weight: 600;
}
.nav-contain img {
  max-width: 300px;
}
.nav-contain li.active,
.nav-contain li:hover {
  background-color: var(--hoverBackgroundDark);
  color: #fff;
  cursor: pointer;
}

.banner-contain {
  width: 100%;
  background-image: url(images/bannerVoicewise.png);
  padding: 1.8vh 0;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.banner-contain a {
  color: #fff;
}
.banner-contain a:hover {
  text-decoration: underline;
}
.full-nav-contain {
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 8000;
}
/* footer */
.footer-contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 5000;
  position: relative;
}
.footer-contain ul li {
  list-style: none;
}
.footer-contain ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-contain ul p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: var(--hoverBackgroundDark);
  border-radius: 12px;
  padding: 8px 12px;
  width: 120px;
  display: grid;
  place-content: center;
  transition: background-color 200ms ease;
}
.footer-contain ul a {
  transition: color 400ms ease;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 600;
}
.footer-contain ul a:hover {
  color: var(--prim);
}
.footer-contain ul:hover p {
  background-color: var(--prim);
  cursor: pointer;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 6vh 12vw;
  width: 100%;
  background-color: #fff;
}
.footer-contain img {
  max-width: 400px;
}
.left-footer {
  display: grid;
  grid-template-columns: auto;
  align-content: flex-start;
  gap: 36px;
}
.right-footer {
  display: grid;
  justify-content: center;
  align-items: center;
}
.socials-contain {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  justify-content: flex-start;
}
.social-item {
  padding: 12px;
  border-radius: 14px;
  height: 50px;
  width: 50px;
  background-color: var(--prim);
  display: grid;
  place-content: center;
  width: fit-content;
  transition: transform 200ms ease;
}
.social-item:hover {
  background-color: #984ad4;
  transform: translateY(-1vh);
}
.footer-end {
  width: 96vw;
  display: flex;
  justify-content: space-between;
  padding: 4vh 0;
  border-top: var(--secBorder);
}

.logo-contain {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.logo-contain p {
  font-size: var(--paragraphL);
}
/* buttons */
button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}
button a {
  font-size: var(--paragraphL);
  background-color: var(--prim);
  color: var(--background);
  font-weight: 400;
  padding: 18px 32px;
  white-space: nowrap;
  width: fit-content;
  border-radius: 20px;
  z-index: 8000;
  transition: background-color 200ms ease;
  gap: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* navigate back or forward, use with "Link" router */
.navigate-button {
  background-color: #fff;
  border: var(--secBorder);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--secTextColor);
  padding: 14px 18px;
}
.navigate-button p {
  font-weight: 600;
  font-size: var(--paragraphL);
}
.navigate-button:hover {
  background-color: var(--hoverBackground);
}
button a:hover {
  cursor: pointer;
}
.main-button a:hover {
  background-color: #984ad4;
}
.main-button a {
  z-index: 8000;
}
.sec-button a {
  background-color: #fff;
  border: var(--secBorder);
  color: var(--secTextColor);
}
.sec-button a:hover {
  background-color: var(--hoverBackground);
}
.button-contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

/* hero */
.header-contain {
  display: grid;
  place-content: center;
  margin: 26vh 12vw 12vh 12vw;
  justify-items: center;
  gap: 24px;
  padding: 0 8vh;
}
.header-contain img {
  margin-top: 60px;
}
.header-contain h1,
.header-contain p {
  text-align: center;
}
.subheading-header-contain a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px 18px;
  padding: 12px;
  border-radius: 100px;
  border: var(--secBorder);
  width: fit-content;
  background-color: var(--hoverBackground);
  transition: background-color 200ms ease;
}
.subheading-header-contain img {
  width: 20px;
  height: 20px;
  transition: transform 200ms ease-in-out;
  margin-top: 0;
  opacity: 0.5;
}
.subheading-header-contain p {
  margin: 0;
}
.subheading-header-contain p span {
  background-color: #70738f;
  border-radius: 100px;
  height: 100%;
  width: fit-content;
  padding: 5px 12px;
  color: #fff;
  font-weight: 600;
}
.subheading-header-contain a:hover {
  cursor: pointer;
  background-color: #e2e3e9;
}
.subheading-header-contain:hover img {
  transform: translateX(4px);
}
.marquee-contain {
  display: grid;
  grid-template-columns: auto;
  height: fit-content;
  background-color: #fff;
}
.marquee {
  /* background-color: #fff; */
  backdrop-filter: blur(2px);
  border-top: 3px solid var(--gradient);
  width: 100vw;
  padding: 1.8vh 0;
  gap: 6px;
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  background-color: var(--gradient);
}
.marquee span {
  font-size: 18px;
  font-weight: 600;
  color: var(--secTextColor);
  width: fit-content;
  text-align: center;
}
.marquee-line {
  width: 100vw;
}
.marquee-line hr {
  background: repeating-linear-gradient(
    45deg,
    var(--prim),
    var(--sec) 600px,
    var(--hoverBackgroundPrim) 600px,
    var(--hoverBackgroundPrim) 600px
  );
  margin: 0;
  border: none;
  width: 100%;
  height: 4px;
}
/* core content */
.head-text-contain {
  width: 660px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6vh 0;
}
.head-text-contain h1 {
  text-align: center;
}
.head-text-contain p {
  font-size: var(--paragraphL);
  text-align: center;
}
.tag {
  background-color: var(--hoverBackgroundPrim);
  color: var(--prim);
  font-weight: 600;
  font-family: "Inter", sans-serif;
  padding: 12px;
  border-radius: 12px;
  width: fit-content;
}
.growth-items-contain {
  display: grid;
  grid-auto-flow: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
  margin: 6vh 0;
}
.icon-contain {
  background-color: var(--hoverBackground);
  padding: 22px;
  border-radius: 18px;
  height: 120px;
  width: 120px;
  display: grid;
  place-content: center;
  border: var(--secBorder);
  transition: background-color 200ms ease;
}
.icon-contain img {
  width: 70px;
  height: 70px;
}
.growth-item a {
  display: grid;
  justify-items: center;
  align-items: center;
  place-content: center;
  gap: 18px;
  width: 270px;
  padding: 22px;
  height: 340px;
  border-radius: 24px;
  transition: background-color 200ms ease;
}
.growth-item a p {
  text-align: center;
}

.growth-item a:hover {
  background-color: #f4f5fa;
  cursor: pointer;
}
.growth-item a:hover .icon-contain {
  cursor: pointer;
  border: var(--borderHoverPrim);
  background-color: var(--hoverBackgroundPrim);
}
.column-text-contain {
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  max-width: 460px;
  margin: auto;
  place-content: center;
}
.right-contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.two-column-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 8vh 0;
  place-content: center;
}
.two-column-contain p {
  font-size: var(--paragraphL);
}
.callout-contain {
  border: 6px solid rgba(0, 0, 0, 0.1);
  background-color: #edeef76a;
  backdrop-filter: blur(2px);
  margin: 0 8vh;
  padding: 28px 72px;
  border-radius: 50px;
  width: 100%;
  height: fit-content;
  z-index: 4000;
  transition: background-color 200ms ease;
}
.callout-contain p {
  font-size: var(--paragraphL);
}
.callout-contain img {
  max-width: 300px;
  transition: transform 200ms ease-in-out;
}
.callout-contain .two-column-contain {
  grid-auto-flow: column;
  gap: 56px;
  grid-template-columns: none;
  height: fit-content;
  margin: 0;
}
.callout-contain .right-contain {
  max-width: 440px;
}
.callout-contain:hover img {
  transform: scale(1.1);
}
.callout-contain:hover {
  cursor: pointer;
  background-color: var(--hoverBackgroundPrim);
  border: 6px solid var(--prim);
}
/* pillar containers */
.pillars .head-text-contain {
  display: flex;
  align-items: flex-start;
  max-width: 575px;
}
.pillars .two-column-contain {
  gap: 72px;
  margin-bottom: 1vh;
}

.pillars h1,
.pillars p {
  text-align: left;
}
.pillar-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  z-index: 5000;
  margin-bottom: 12vh;
}
.pillar {
  padding: 22px;
  border: var(--secBorder);
  border-radius: 22px;
  background-color: #fff;
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  align-items: center;
  transition: background-color 200ms ease;
  width: 100%;
  justify-content: flex-start;
  background-color: #fff;
}
.pillar:hover {
  background-color: var(--hoverBackgroundPrim);
  border: var(--borderHoverPrim);
  cursor: pointer;
}
.pillar:hover .mini-icon-contain {
  color: #fff;
  background-color: var(--prim);
}
.mini-icon-contain {
  background-color: var(--hoverBackground);
  padding: 6px;
  height: 50px;
  width: 50px;
  border-radius: 14px;
  color: var(--hoverBackgroundDark);
  display: grid;
  place-content: center;
  transition: background-color 200ms ease;
  font-size: 22px;
}

.pillar .right-contain {
  gap: 4px;
}
.pillar-button-contain {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 14px;
  border-radius: 24px;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: fit-content;
}
.pillar-button-contain .right-contain {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.pillar-button-contain .mini-icon-contain {
  background-color: var(--hoverBackgroundPrim);
  color: var(--prim);
  width: 40px;
  height: 40px;
}
.pillar-button-contain:hover {
  background-color: var(--hoverBackgroundPrim);
  border: 2px solid var(--prim);
  cursor: pointer;
}
.pillar-button-contain:hover .mini-icon-contain {
  background-color: var(--prim);
  color: #fff;
}
/* faq */
.faq-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 6vh 12vw;
  z-index: 1000;
  gap: 56px;
}
.faq-items {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 28px;
}
.faq-items .item {
  padding: 32px;
  border-radius: 22px;
  height: fit-content;
  background-color: var(--hoverBackground);
}
.faq-items .item:hover {
  background-color: #e2e3e9;
}

.faq-items p {
  font-size: var(--paragraphL);
}
.faq-title p {
  font-weight: 800;
  color: var(--black);
}
.faq-contain {
  display: grid;
}
.faq-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq-contain img {
  height: 20px;
  width: 20px;
}
.faq-title:hover {
  cursor: pointer;
}
/* inner content of faq - but hidden for now */
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
/* content that is shown when opened */
.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* tags */
.icon-tag-contain {
  background-color: var(--hoverBackground);
  color: #70738f;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 8px;
  padding: 6px 18px;
  border-radius: 12px;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.number-item .icon-tag-contain .icon {
  color: var(--secTextColor);
}
.icon-tag-contain p {
  font-weight: 600;
  font-size: 16px;
}
.icon-tag-contain .icon {
  color: var(--prim);
}
/* resources */
.resources {
  margin: 16vh 0;
}
.resources-contain {
  display: grid;
  place-content: center;
  margin: 4vh 8vw;
  z-index: 5000;
}
.resources-contain .two-column-contain {
  grid-template-columns: 25% 75%;
}
/* contains all resource elements in a 2 x n grid */
.core-resources-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  width: 100%;
}
.resource-item {
  background-color: #fff;
  box-shadow: var(--boxShadow);
  padding: 36px;
  border-radius: 40px;
  display: grid;
  grid-template-columns: auto;
  gap: 12px;
  width: 100%;
  height: 100%;
  transition:
    transform 500ms ease,
    background-color 200ms ease;
}
.resource-item h3 {
  font-size: 36px;
}
.resource-item:hover {
  background-color: var(--hoverBackgroundPrim);
  border: var(--borderHoverPrim);
  transform: scale(1.02);
  cursor: pointer;
}
.resource-item:hover .icon-tag-contain {
  background-color: var(--hoverBackgroundPrim);
  border: 2px solid var(--prim);
}
.line hr {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  height: 2px;
  margin: 4vh 0;
}
.resource-row {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
}
.resource-row p {
  font-weight: 600;
}
/* inside resources */
.resource-column-contain h1 {
  font-size: 48px;
}
.resource-column-contain {
  z-index: 5000;
  display: flex;
  flex-direction: row;
  gap: 56px;
  padding: 14vh 8vw;
  align-items: flex-start;
}
.left-resource-contain {
  display: flex;
  gap: 36px;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
 
  height: fit-content;
  min-height: 1000px;
}
.right-resource-contain {
  background-color: var(--hoverBackground);
  box-shadow: var(--boxShadow);
  padding: 24px;
  border-radius: 46px;

  flex-direction: column;
  display: flex; 
  gap: 22px;
  top: 5vh;
  min-height: 50vh;
  height: fit-content;

  width: 100%;


 
}
.right-resource-contain button a {
  width: -webkit-fill-available;
  height: fit-content;
}
.right-resource-contain button {
  margin: 0;
  width: 100%;
}
.right-resource-item {
  display: grid;
  grid-template-columns: auto;
  gap: 12px;
  padding: 26px;
  border: var(--secBorder);
  border-radius: 32px;
  background-color: #fff;
}
.resource-inner-tag-contain {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.resource-inner-tag-contain .icon-tag-contain {
  background-color: var(--hoverBackgroundPrim);
}
.resource-inner-tag-contain p {
  color: var(--prim);
  font-size: 16px;
}
/* numbers */
.numbers-contain {
  background-color: var(--hoverBackground);
  border-radius: 36px;
  padding: 22px;
  justify-content: flex-start;
  gap: 12px;
  display: grid;
}
.numbers-contain h3 {
  color: var(--secTextColor);
  font-weight: 600;
}
.number-items-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.number-item {
  background-color: #fff;
  border-radius: 20px;
  border: var(--secBorder);
  padding: 26px;
  white-space: nowrap;
  justify-items: center;
  display: grid;
  gap: 12px;
  min-width: 200px;
}
/* summary */
.summary-contain {
  display: grid;
  grid-auto-flow: column;
  padding: 32px 26px;
  border-radius: 36px;
  background-color: var(--hoverBackgroundPrim);
  gap: 22px;
}
/* sneak peak */
.sneak-contain {
  display: grid;
  gap: 22px;
}
.sneak-peak-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}
.sneak-peak-item {
  border-radius: 36px;
  border: var(--secBorder);
  padding: 32px;
  display: grid;
  gap: 22px;
  background-color: #fff;
  align-content: flex-start;
}
.index-contain {
  background-color: var(--hoverBackgroundDark);
  border-radius: 100px;
  width: fit-content;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: #fff;
  font-weight: 600;
}
.sneak-contain .row {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  justify-content: flex-start;
}
/* one liner containers */
.liner-contain {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 22px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
/* .liner-contain .mini-icon-contain {
  background-color: var(--hoverBackgroundPrim);
  color: var(--prim);
} */


.liner-contain .right-contain {
  gap: 0;
}
.check-contain {
  background-color: var(--prim);
  border-radius: 100px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
}

/* filter */
.filter-buttons {
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 22px;
  grid-template-columns: repeat(6, 1fr);
  background-color: #fff;
  border: var(--secBorder);
  border-radius: 36px;
  padding: 26px;
  margin: 4vh 0;
}
.filter-button {
  background-color: var(--hoverBackground);
  z-index: 7000;
  color: var(--secTextColor);
  font-size: var(--paragraphL);
  padding: 16px;
  border-radius: 36px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 12px;
  transition: background-color 200ms ease-in-out;
  width: 100%;
  margin: 0;
  min-height: 130px;
}
.filter-button .icon {
  font-size: 40px;
}
.filter-button:hover {
  cursor: pointer;
}
.filter-button.active, .filter-button:hover {
  background-color: #bb63ff85;
  border: 2px solid var(--prim);
  color: #fff;
}
/* about */
.about-contain {
  place-content: center;
  display: grid;
  min-height: 80vh;
  margin: 10vh 8vw;
  gap: 12px;
  justify-items: center;
}
.about-contain h1 {
  text-align: center;
}
.about-contain p {
  font-size: 26px;
  text-align: center;
}
.content-contain{
  margin: auto 8vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 56px;
  border-radius: 56px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  gap: 56px;
  z-index: 2;
  background-color: #fff;
  position: relative;
  align-items: center;
}
.content-contain h2 {
  margin-bottom: 12px;
}
.content-contain img {
  width: 100%;
  max-height: 500px;
}
.values-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin: 6vh auto;
  position: relative;
  z-index: 2000;
}
.value-item {
  display: grid;
  place-content: center;
  border: var(--secBorder);
  gap: 12px;
  justify-content: flex-start;
  grid-template-columns: auto;
  border-radius: 36px;
  padding: 36px;
  background-color: #fff;
}
.value-item p {
  text-align: left;
  font-size: var(--paragraph);
  
}
.value-item img {
  width: 80px;
}
/* cta */
.cta-contain {
  height: 80vh;
  margin: auto 8vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-contain .callout-contain {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: -webkit-fill-available;
  gap: 16px;
  padding: 56px
}
.cta-contain p, .cta-contain h1{
  text-align: center;
  max-width: 40vw;
}
.team-contain {
  margin: 6vh 8vw;
 display: grid;
 grid-auto-flow: column;
 gap: 56px;
 align-items: center;
 justify-content: center;
}
.team-item {
  display: grid;
  grid-auto-flow: column;
  gap: 36px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  padding: 26px;
  border-radius: 56px;
  background-color: #fff;
  position: relative;
  z-index: 1000;
  max-width: 710px;
  align-items: center;
  justify-content: center;
}
.team-item img {
  border-radius: 56px;
  max-width: 250px;
}
.tag-contain {
  display: flex;
  gap: 12px;
  flex-direction: row;
}